<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b56c1cd1e7.js" crossorigin="anonymous"></script>

    <title>รายการพัสดุ</title>

    <style>

        body {
            font-family: 'Poppins', sans-serif;
            color: #000000;
        }

        h1, h3 {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            margin: 3rem 0;
        }

        .btn-primary {
          background-color: #ffffff;
          color: #080710;
        }

    </style>
    
</head>

<body>
    {% include 'std/navbar.html' %}
    <div class="container pt-2">
        <div class="row justify-content-center">
            <div class="col-md-10">
                {% if messages %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="alert-container">
                                {% for message in messages %}
                                <div class="alert alert-warning">{{ message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <form method="GET">
                    <div class="input-group mb-3">
                        <input type="text" name="search" class="form-control" placeholder="ค้นหาด้วยชื่อ-นามสกุล หรือ หมายเลขห้องพัก">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">ค้นหาสมาชิก</button>
                        </div>
                    </div>
                </form>
                <form method="GET">
                    <div class="input-group mb-3">
                        <button type="submit" href="/project/summary/" class="btn btn-primary">แสดงรายการพัสดุทั้งหมด</button>
                    </div>
                </form>
                

                
                
                <h4 class="text-center my-3">พัสดุที่ยังไม่ได้รับ</h4>
                <form method="POST">
                    <div style="max-height: 200px; overflow-y: auto; scrollbar-width: thin; scrollbar-color: gray gray;">
                        {% csrf_token %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">หมายเลขห้องพัก</th>
                                    <th scope="col">ชื่อ-นามสกุล</th>
                                    <th scope="col">วันที่พัสดุจัดส่ง</th>
                                    <th scope="col">สถานะพัสดุ</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in documents %}
                                <tr>
                                    <td>{{ document.room_num }}</td>
                                    <td>{{ document.firstname }} {{document.last_name}}</td>
                                    <td>{{ document.date }}</td>
                                    <td>
                                        <input type="radio" name="status_{{ document.pk }}" value="รับแล้ว" {% if document.status == 'รับแล้ว' %}checked{% endif %}>
                                        รับแล้ว
                                    </td>
                                    <td>
                                        <input type="radio" name="status_{{ document.pk }}" value="ยังไม่ได้รับ" {% if document.status == 'ยังไม่ได้รับ' %}checked{% endif %}>
                                        ยังไม่ได้รับ
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <button type="submit" class="btn btn-warning" style="margin-left: 900px;">บันทึกสถานะ</button>
                   
                    <hr>
                    <h4 class="text-center my-3">พัสดุที่รับแล้ว</h4>
                    <div style="max-height: 200px; overflow-y: auto; scrollbar-width: thin; scrollbar-color: gray gray;">
                        
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">หมายเลขห้องพัก</th>
                                    <th scope="col">ชื่อ-นามสกุล</th>
                                    <th scope="col">วันที่พัสดุจัดส่ง</th>
                                    <th scope="col">สถานะพัสดุ</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in received_documents %}
                                <tr>
                                    <td>{{ document.room_num }}</td>
                                    <td>{{ document.firstname }} {{document.last_name}}</td>
                                    <td>{{ document.date }}</td>
                                    <td>{{ document.status }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <form method="POST" action="{% url 'save_img' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success"><i class="fa-brands fa-line"> ส่งข้อมูลไปยังกลุ่ม</i></button>
                </form>

                <div id="alert-container">
                    {% for message in messages %}
                    <div class="alert alert-warning">{{ message }}</div>
                    {% endfor %}
                </div>

                
                เปลี่ยนกลุ่มไลน์ Notify คลิ๊ก>>
                <a href="/linelogin">
                    เชื่อมต่อ
                </a>
                



                
        </div>


<!-- ใช้เเสดงข้อความเเจ้งเตือนหากกดค้นหาโดยไม่ได้ป้อนอะไร -->
<script>
    function hideAlert() {
        var alertContainer = document.getElementById('alert-container');
        alertContainer.style.display = 'none';
    }
    setTimeout(hideAlert, 3000);

</script>


</body>
</html>