<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Parcels</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body>
    {% include 'std/navbar.html' %}
    <h1 class="text-center my-3">รายการพัสดุ</h1>
    <h2 class="text-center my-3">พัสดุที่ยังไม่ได้รับ</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="alert-container">
                                {% for message in messages %}
                                <div class="alert alert-warning">{{ message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="search" class="form-control"
                            placeholder="ค้นหาด้วยชื่อ-นามสกุล หรือ หมายเลขห้องพัก">
                        <button class="btn btn-primary" type="submit">ค้นหา</button>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">หมายเลขห้องพัก</th>
                                <th scope="col">ชื่อ-นามสกุล</th>
                                <th scope="col">วันที่พัสดุจัดส่ง</th>
                                <th scope="col">สถานะ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in documents %}
                            <tr>
                                <td>{{ document.room_num }}</td>
                                <td>{{ document.firstname }} {{document.last_name}}</td>
                                <td>{{ document.date }}</td>
                                <td>
                                    <input type="radio" name="status_{{ document.pk }}" value="รับแล้ว" {% if document.status == 'รับแล้ว' %}checked{% endif %}>
                                    รับแล้ว
                                </td>
                                <td>
                                    <input type="radio" name="status_{{ document.pk }}" value="ยังไม่ได้รับ" {% if document.status == 'ยังไม่ได้รับ' %}checked{% endif %}>
                                    ยังไม่ได้รับ
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">บันทึก</button>
                    <h2 class="text-center my-3">พัสดุที่รับแล้ว</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">หมายเลขห้องพัก</th>
                                <th scope="col">ชื่อ-นามสกุล</th>
                                <th scope="col">วันที่พัสดุจัดส่ง</th>
                                <th scope="col">สถานะ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in received_documents %}
                            <tr>
                                <td>{{ document.room_num }}</td>
                                <td>{{ document.firstname }} {{document.last_name}}</td>
                                <td>{{ document.date }}</td>
                                <td>{{ document.status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
</body>
</html>